@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 80%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 240px;
    background: linear-gradient(-25deg, black, #444, black);
    border-radius: 15px;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    text-shadow: 0 2px 0 black;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 30px -10px black;
    z-index: 10;
}

.card::before {
    content: "";
    display: block;
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgba(38, 38, 38, .95) inset;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.card-top,
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-top svg {
    transform: rotate(90deg);
    width: 50px;
    height: 50px;
}

.card-title {
    font-size: 1.8rem;
    z-index: 1;
}

.card-center {
    z-index: 1;
}

.card-center img {
    width: 60px;
    padding-left: 3rem;
}

.card-bottom-left,
.card-bottom-right {
    display: flex;
    flex-direction: column;
}

.card-bottom-left {
    gap: .7rem;
}

.card-number {
    font-family: 'Exo', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/* formulario */

.main {
    text-align: center;
    border: #1e1e1e 2px solid;
    border-radius: 25px;
    width: 600px;
    margin-top: 220px;
    position: relative;
    z-index: 1;
    padding-top: 5%;
}

.form {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.form form {
    width: 25em;
}

.form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: .5em;
    box-sizing: border-box;
}


.form input[type="text"]#cvv {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: .5em;
    box-sizing: border-box;
}

.DateCVV {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Comprar */

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
  }
  
  .svgIcon {
    width: 16px;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .Btn::before {
    width: 100%;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
  
  .Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
  }